
<div class="weather-card">
	<div class="weather-card-info">
		<div class="weather-card-title">
			<h2>{{ city.name }}</h2>
		</div>

		<div class="weather-card-content">

			<div class="weather-card-grades">
				<span>{{ weather.main.temp }} &deg;C</span>
			</div>

			<div class="weather-card-date">
				<span class="weather-card-date-icon">
					<i class="wi {{ icon }}"></i>
				</span>
				<span>{{myDate | amDateFormat:'LL'}}</span>
			</div>
			
		</div>
	</div>
	<div class="weather-card-image" [ngStyle]="backgroundImage()"></div>
</div>